*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 31, 31);
    padding: 25px 1px;
}

.header .sadi-logo{
    color: orangered;
    font-size: 36px;
}

.header .menu{
    display: flex;
    justify-content: space-around;
}

.header .menu li{
    list-style: none;
    margin-right: 48px;
}

.header .menu li a:hover{
    color: orangered;
    /* background-color: #fff; */
}

.header .menu li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
}

  /* banar section start */

  .banar{
    background-color: rgb(5, 4, 4);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row-reverse; */
    height: 100vh;
  }

  .banar-description {
    padding-left: 40px;
  }

  .banar-description h3{
    font-size: 55px;
    padding-bottom: 15px;
    line-height: 57px;
  }

  .banar-description .working{
    color: orangered;
    /* font-size: 102px; */
  }

  .banar-description p{
    font-size: 22px;
  }

  .banar-description .hire-btn{
    padding: 8px 31px;
    font-size: 18px;
    margin-top: 20px;
    background-color: orangered;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 7px;
  }

  .banar .banar-img img{
    width: 700px;
  }

